<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hansab IT REST API Assignment</title>
    <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            <a href="#" id="logoutLink">Logout</a>
        </nav>
    </div>

    <div class="jumbotron">
        <h1>Hansab IT Assignment Rest API</h1>
        <p class="lead">You are now authorized to reach the endpoints! :)</p>
        <p class="lead">Just hit the suitable link to retrieve data</p>
        <p></p>
        <p class="lead">Sorting syntax:</p>
        <h5>/api/users?sort=id&order=asc</h5>
        <p></p>
        <p class="lead">Pagination syntax:</p>
        <h5><p>/api/users?page=0</p></h5>
        <p></p>
        <p class="lead">Filtering syntax:</p>
        <h5><p>/api/users?find=Allik</p></h5>
        <p></p>
        <p class="lead">Just hit the suitable link to retrieve data</p>
        <p>Here is the: <a href="/api/users">List of users</a></p>
        <p>Here is the: <a href="/api/cars">List of cars</a></p>
        <p></p>
        <p class="lead">In the specific "by [id]" requests You will need to change</p>
        <p class="lead">the [id] variable in URL to specify the request</p>
        <p>Here is the link to retrieve specific: <a href="/api/cars/id">Car by Id</a></p>
        <p>Here is the link to retrieve specific: <a href="/api/users/id">User by Id</a></p>
        <p>Here is the link to retrieve specific: <a href="/api/users/id/cars">Car by UserId</a></p>

    </div>
</div>

<form id="logout" action="/logout" method="POST">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
</form>
<script>
    $(function(){
        $('#logoutLink').click(function(){
            $('#logout').submit();
        });
    });
</script>
</body>